{% extends 'base.html'%}
{% load staticfiles %}
{% block contents %}
<h3>주문내역</h3>
<hr class="featurette-divider">
<div class="container">
    <계좌정보><br>
        카카오뱅크 3333128692577 권민주<br>
        <img src="{% static 'qr코드.jpg'%}" alt="qr코드" width="200"><br>
        <hr class="featurette-divider">
</div>
{% for order in orders.all %}
<div class="container">
    <div class="card">
        <table border="0">
            <tr>
                <!-- 첫번째 줄 시작 -->
                <td width="30">{{order.id}}</td>
                <td width="100">{{order.customer_name}}</td>
                <td width="40">{{order.secretphone}}</td>
                <td width="50">{{order.location}}</td>
                <td width="550">{{order.select_product}}</td>
                <td width="100">총 {{order.tot_price}}원</td>
                <td width="100">{{order.condition}}</td>
                <td>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">주문취소_구현중</button>
                </td>
            </tr><!-- 첫번째 줄 끝 -->
        </table>
    </div>
</div>
{% endfor %}


<hr class="featurette-divider">


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}