{% extends 'base.html'%}

{% block contents %}
<h3>주문내역</h3>
<hr class="featurette-divider">

{% for order in orders.all %}
<div class="container">
    <div class="card">
        <table border="0">
            <tr>
                <!-- 첫번째 줄 시작 -->
                <td>{{order.id}}</td>
                <td>{{order.customer_name}}</td>
                <td>{{order.secretphone}}</td>
                <td>{{order.select_product}}</td>
                <td>{{order.tot_price}}원</td>
                <td>{{order.condition}}</td>
                <td>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">주문취소_구현중</button>
                </td>
            </tr><!-- 첫번째 줄 끝 -->
        </table>
    </div>
</div>
{% endfor %}


<hr class="featurette-divider">


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}